<section class="max-w-4xl ml-auto mr-auto mt-4 mb-16">

<%= form_with model: obj, url: spath, local: true do |f| %>

    <div class="myfield">
        <%= f.label "#{act} #{t("helper.task")}" %>
        <%= f.text_field :name %>
    </div>

    <div class="myfield">
        <%= f.label "#{act} #{t("helper.content")}" %>
        <%= f.text_area :content, rows: 3 %>
    </div>

    <div class="myfield">
        <%= f.label "#{act} #{t("helper.end_date")}" %>
        <%= date_field :task, :end_date , value: (Time.zone.now + 1.day).to_date %>
    </div>

    <div class="myfield">
        <%= f.label "#{act} #{t("helper.aasm_state")}" %>
        <%= select_tag "task[state]" , options_for_select([['待處理', "wait"], ['進行中', "go"], ['結束', "done"]], obj.state || "wait" ) %>
    </div>
    

    <div class="myfield">
        <%= f.submit act %>
    </div>
    
<% end %>

</section>