<section class="max-w-4xl ml-auto mr-auto mt-4 mb-16">

<%= form_with model: obj, url: spath, local: true do |f| %>

    <div class="myfield">
        <%= f.label "#{act} #{t("helper.task")}" %>
        <%= f.text_field :name %>
    </div>

    <div class="myfield">
        <%= f.label "#{act} #{t("helper.content")}" %>
        <%= f.text_area :content, rows: 3 %>
    </div>

    <div class="myfield">
        <%= f.label "#{act} #{t("helper.end_date")}" %>
        <%= date_field :task, :end_date , value: (Time.zone.now + 1.day).to_date %>
    </div>

    <div class="myfield">
        <%= f.label "#{act} #{t("helper.state")}" %>
        <%= select_tag "task[state]" , options_for_select([[t('wait'), "wait"], [t('go'), "go"], [t('done'), "done"]], obj.state || "wait" ) %>
    </div>

    <div class="myfield">
        <%= f.label "#{act} #{t("helper.priority")}" %>
        <%= select_tag "task[priority]" , options_for_select([[t('low'), "low"], [t('medium'), "medium"], [t('high'), "high"]], obj.priority || "low" ) %>
    </div>
    

    <div class="myfield">
        <%= f.submit act %>
    </div>
    
<% end %>

</section>