
<div class="mr-auto ml-auto mb-12 max-w-4xl">
<%= form_with url: q_task_index_path, local: true, method: :get do |f| %>

    <div class="flex max-w-4xl items-stretch">
        <%= search_field_tag :q %>
        <%= select_tag "state" , options_for_select([[t('wait'), 0], [t('go'), 1], [t('done'), 2]],  0 ), class: "w-48 h-13 mt-4" %>
        <%= f.submit t("search_task"), class: "w-48" %>
    </div>

<% end %>

<div class="w-full text-right mb-8 s2">
    <a href="<%= task_index_path %>" class="py-2 px-3 border mr-3 text-blued-500 border-blued-500 rounded hover:bg-blued-500 hover:text-white"><%= t("order_by_id") %></a>
    <a href="<%= orderc_task_index_path %>" class="py-2 px-3 border text-blued-500 border-blued-500 rounded hover:bg-blued-500 hover:text-white"><%= t("order_by_date") %></a>
    <a href="<%= ordere_task_index_path %>" class="py-2 px-3 border text-blued-500 border-blued-500 rounded hover:bg-blued-500 hover:text-white"><%= t("order_by_end_date") %></a>
    <a href="<%= orderp_task_index_path %>" class="py-2 px-3 border text-blued-500 border-blued-500 rounded hover:bg-blued-500 hover:text-white"><%= t("order_by_priority") %></a>
</div>

</div>
