<section class="py-8 px-8 mr-auto ml-auto">

<%= paginate @tasks %>

<div class="max-w-5xl ml-auto mr-auto">

    <% if @tasks.count <= 0 %>
        <div class="tracking-widest text-purpled-700 py-6 s6 text-center "> <%= t("data_nil") %> </div>
    <% else %>

    <div class="w-full s3 text-gray-700">

        <div class="flex flex-wrap ">
            <div class="w-full text-right mb-6 s2">
                <a href="<%= task_index_path %>" class="py-2 px-3 border mr-3 border-blued-500 rounded hover:bg-blued-500 hover:text-white">用ID排前 </a>
                <a href="<%= odate_task_index_path %>" class="py-2 px-3 border border-blued-500 rounded hover:bg-blued-500 hover:text-white">最新日期排前 </a>
            </div>

            <div class="w-full">

                <% @tasks.each.with_index do | e, index | %>

                <div class="flex-wrap flex w-full justify-between s2 sm:pl-2 lg:pl-16 rounded">
                    <div class="flex-grow pl-6 cursor-pointer align-bottom tracking-wider break-all text-gray-700 "> 
                        <span class="text-yellowd-550 rounded py-1 px-3 text-center "><%= index+1 %></span> 
                        <a href="<%= task_path(e.id) %>" class="max-w-4xl align-bottom hover:text-white hover:bg-yellowd-550"><%= e.name %></a>
                    </div>
                    
                    <div class="flex-shrink ml-6 pr-4 s1 text-gray-700"><i class="material-icons align-middle pb-1 pr-1">access_time</i> <%= e.created_at.strftime("%Y-%m-%d") %> </div>
                    <div class="flex-shrink pr-4"> <a href="<%= edit_task_path(e.id) %>"> <%= t("edit") %> </a> </div>
                    <div class="flex-shrink pr-4"> <a href="<%= task_path(e.id) %>" data-method="delete"> <%= t("delete") %> </a> </div>
                </div>

                <% end %>
            </div>
            
        </div>
    </div>

    <% end %>

</div>


<%= paginate @tasks %>

</section>